<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483639854104-vdpp6rmtvuuka3ehn815ijd3k79qr3nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483639854104-vdpp6rmtvuuka3ehn815ijd3k79qr3nu</string>
	<key>API_KEY</key>
	<string>AIzaSyAVzM3lEJ7LwfydSKpxzXPaFw1uic_NDNM</string>
	<key>GCM_SENDER_ID</key>
	<string>483639854104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Librius.PromptApp</string>
	<key>PROJECT_ID</key>
	<string>prompt-14317</string>
	<key>STORAGE_BUCKET</key>
	<string>prompt-14317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483639854104:ios:a7f5598a5ddb19d756ef6d</string>
</dict>
</plist>